<html>
  <body style="height: 200px; width: 200px">
    <p>First name: {{ boarding_pass.user.first_name }}</p>
    <p>Last name: {{ boarding_pass.user.last_name }}</p>
    <p>Invitation code: {{ boarding_pass.invitation_code }}</p>
  </body>
</html>