<html>
  <body>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Distance: {{ user.flight_stats.flight_distance }}</p>
    <p>Hours: {{ user.flight_stats.flight_time }}</p>
  </body>
</html>